.App {
  text-align: center;
  padding: 31px 78px;
  background-color: #2b2f3b;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}

.buttonCont {
  width: 100%;
  min-height: 47px;
  position: relative;
}

.signInButton {
  position: absolute;
  right: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}