@import "../../common";

.button {
  width: 218px;
  min-height: 47px;
  background: #7469F3;
  border-radius: 6px;
  font-weight: 500;
  @include flexCenter;
  user-select: none;
  @include brightnessActions(80%, 120%);
}